/* MENÚ NAV*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background:white;
	background-image: url('../img/f3.jpg');
}
 
.menu_bar {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	background-color:#3B91E7;
	z-index:1000;
	max-width: 2000px;
	width:100%;
}

 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 /*Color de sombra menú*/
header nav ul :hover {
	background:#429EFE;
}
/*encabezado de menú*/
header nav ul li a {
	color: white;
	display:block;
	text-decoration:none;
	padding:10px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
 /*submenús*/
header nav ul li .children {
	display: none;
	background:rgb(59,145,231);
	position: absolute;
	width: 150%;
	z-index:1000;

}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid cyan;
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:-80px;
	}
 /*clase_menú responsivo*/
	.menu_bar {
		display:block;
		width:100%;
		height:50px;
		position: static;
		background:rgba(59,145,231);
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 9px;
		color: white;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width:60%;
		position: fixed;
		right:100%;
		margin-top: 48px;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid #5E8BB9;
	}
 
	header nav ul li a {
		display: block;
		color: white;
		background-color: #5E8BB9;
		height: 40px;
	}

 
	header nav ul li:hover .children {
		display: none;

	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
}
/* FIN MENÚ*/

/*Carousel*/
h1, h2{
	text-align: center;
	color: #3B91E7;
}
.img-container{
	width: 90%;
	overflow: hidden;
}